In [129]:
import warnings
warnings.filterwarnings('ignore')
import pandas as pd
import joblib
from tkinter import *
from sklearn import metrics
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression
from xgboost import XGBRegressor

In [130]:
data = pd.read_csv('dataset/fish_data.csv')

## 1. Display Top 5 Rows of The Dataset

In [131]:
data.head()

,Fish Species,Price,Grade,Catching Method,Sustainability,Actual Price
0,Bawal Hitam,36000,B,Farmed,Moderately sustainable,30000
1,Bawal Putih,72000,B,Farmed,Moderately sustainable,60000
2,Cakalang,30000,B,Farmed,Moderately sustainable,25000
3,Kakap Merah,66000,B,Farmed,Moderately sustainable,55000
4,Kembung,30000,B,Farmed,Moderately sustainable,25000

## 2. Find Shape Fish Dataset (Number of Rows And Number of Columns)

In [132]:
data.shape

(264, 6)

## 3. Check Null Values In The Dataset

In [133]:
data.isnull().sum()

Fish Species       0
Price              0
Grade              0
Catching Method    0
Sustainability     0
Actual Price       0
dtype: int64

In [134]:
data.describe()

               Price   Actual Price
count     264.000000     264.000000
mean    49903.363636   68454.545455
std     59375.759491   69461.411301
min      6000.000000   25000.000000
25%     19200.000000   30000.000000
50%     30200.000000   55000.000000
75%     55250.000000   70000.000000
max    403200.000000  280000.000000

In [135]:
sorted(data['Price'],reverse=False)

[6000,
 6000,
 7200,
 7200,
 7500,
 7500,
 8000,
 8000,
 9000,
 9000,
 9120,
 9600,
 9600,
 10000,
 10000,
 10000,
 10000,
 11400,
 12000,
 12000,
 12000,
 12000,
 12000,
 12000,
 12000,
 12000,
 12160,
 12500,
 12500,
 13200,
 14400,
 14400,
 14400,
 14400,
 14400,
 14400,
 14400,
 14400,
 15000,
 15000,
 15000,
 15000,
 15000,
 15000,
 15200,
 15200,
 16000,
 16000,
 16500,
 16800,
 17280,
 17280,
 17600,
 18000,
 18000,
 18000,
 18000,
 18000,
 18000,
 18000,
 18000,
 18240,
 18240,
 19000,
 19200,
 19200,
 19200,
 19200,
 19200,
 19200,
 19200,
 20000,
 20000,
 20000,
 20000,
 21000,
 21600,
 21600,
 21888,
 22000,
 22000,
 22400,
 22800,
 22800,
 23040,
 23040,
 24000,
 24000,
 24000,
 24000,
 24000,
 24000,
 24000,
 24000,
 24000,
 24000,
 24000,
 24000,
 24000,
 24000,
 24000,
 24320,
 25000,
 25000,
 25600,
 26400,
 26400,
 27360,
 27500,
 28000,
 28000,
 28800,
 28800,
 28800,
 28800,
 28800,
 28800,
 28800,
 28800,
 28800,
 28800,
 28800,
 28800,
 29184,
 30000,
 30000,
 30000,
 30000,
 30000,
 30000,
 30000,
 30000,
 30400,
 30400,
 31680,
 32000,
 32000,
 33000,
 33000,
 33600,
 33600,
 34560,
 34560,
 34560,
 34560,
 35000,
 35200,
 36000,
 36000,
 36000,
 36000,
 36000,
 36000,
 36000,
 36000,
 36000,
 36000,
 36480,
 36480,
 36480,
 38000,
 38400,
 38400,
 38400,
 38400,
 39600,
 40000,
 40320,
 42000,
 42000,
 42240,
 43200,
 43200,
 43200,
 43200,
 43776,
 44000,
 44000,
 44800,
 45600,
 45600,
 46080,
 46080,
 46080,
 48000,
 48000,
 48000,
 48000,
 48000,
 48000,
 50400,
 51200,
 52800,
 52800,
 52800,
 53760,
 54720,
 55000,
 56000,
 56000,
 57600,
 57600,
 57600,
 57600,
 57600,
 57600,
 57600,
 60000,
 60000,
 61440,
 63360,
 64000,
 64000,
 66000,
 66000,
 67200,
 67200,
 67200,
 67200,
 69120,
 69120,
 70000,
 72000,
 72000,
 72000,
 72000,
 76800,
 76800,
 76800,
 79200,
 80000,
 80640,
 84000,
 84000,
 84000,
 86400,
 86400,
 89600,
 92160,
 96000,
 96000,
 100800,
 112000,
 112000,
 115200,
 134400,
 134400,
 140000,
 161280,
 168000,
 168000,
 179200,
 201600,
 215040,
 224000,
 224000,
 268800,
 268800,
 268800,
 280000,
 322560,
 336000,
 336000,
 403200]

## 4. Encoding the Categorical Columns

In [136]:
data['Grade'].unique()
data['Grade'] = data['Grade'].map({'C':0,'B':1,'A':2})

In [137]:
data['Sustainability'].unique()
data['Sustainability'] =data['Sustainability'].map({'Moderately sustainable':1,'Unsustainable':0})

In [138]:
data['Catching Method'].unique()
data['Catching Method'] = data['Catching Method'].map({'Farmed':3,'Netting':2, 'Spearfishing':0, 'Fishing Hook':1})

## 5. Transform the 'Actual Price' and 'Price' columns in the data DataFrame using MinMaxScaler

In [139]:
data.head()

  Fish Species  Price  Grade  Catching Method  Sustainability  Actual Price
0  Bawal Hitam  36000      1                3               1         30000
1  Bawal Putih  72000      1                3               1         60000
2     Cakalang  30000      1                3               1         25000
3  Kakap Merah  66000      1                3               1         55000
4      Kembung  30000      1                3               1         25000

In [140]:
data

    Fish Species  Price  Grade  Catching Method  Sustainability  Actual Price
0    Bawal Hitam  36000      1                3               1         30000
1    Bawal Putih  72000      1                3               1         60000
2       Cakalang  30000      1                3               1         25000
3    Kakap Merah  66000      1                3               1         55000
4        Kembung  30000      1                3               1         25000
..           ...    ...    ...              ...             ...           ...
259         Kuwe  22400      0                1               0         70000
260      Makerel   9600      0                1               0         30000
261       Salmon  89600      0                1               0        280000
262     Tenggiri  19200      0                1               0         60000
263      Tongkol  12160      0                1               0         38000

[264 rows x 6 columns]

## 6. Store Feature Matrix In X and Response(Target) In Vector y

In [141]:
X = data.drop(['Fish Species','Price'],axis=1)
y = data['Price']
print(X.head())
print(y.head())

   Grade  Catching Method  Sustainability  Actual Price
0      1                3               1         30000
1      1                3               1         60000
2      1                3               1         25000
3      1                3               1         55000
4      1                3               1         25000
0    36000
1    72000
2    30000
3    66000
4    30000
Name: Price, dtype: int64

## 7. Train, Test, Split

In [142]:
X_train,X_test,y_train,y_test=train_test_split(X,y,test_size=0.2,random_state=42)

## 8. Regressor Test

In [143]:
from sklearn.linear_model import LinearRegression
from sklearn.ensemble import RandomForestRegressor
from sklearn.ensemble import GradientBoostingRegressor
from xgboost import XGBRegressor

In [144]:
lr = LinearRegression()
lr.fit(X_train,y_train)

rf = RandomForestRegressor()
rf.fit(X_train,y_train)

xgb = GradientBoostingRegressor()
xgb.fit(X_train,y_train)

xg = XGBRegressor()
xg.fit(X_train,y_train)

XGBRegressor(base_score=None, booster=None, callbacks=None,
             colsample_bylevel=None, colsample_bynode=None,
             colsample_bytree=None, device=None, early_stopping_rounds=None,
             enable_categorical=False, eval_metric=None, feature_types=None,
             gamma=None, grow_policy=None, importance_type=None,
             interaction_constraints=None, learning_rate=None, max_bin=None,
             max_cat_threshold=None, max_cat_to_onehot=None,
             max_delta_step=None, max_depth=None, max_leaves=None,
             min_child_weight=None, missing=nan, monotone_constraints=None,
             multi_strategy=None, n_estimators=None, n_jobs=None,
             num_parallel_tree=None, random_state=None, ...)

In [145]:
y_pred1 = lr.predict(X_test)
y_pred2 = rf.predict(X_test)
y_pred3 = xgb.predict(X_test)
y_pred4 = xg.predict(X_test)

In [146]:
from sklearn import metrics

In [147]:
score1 = metrics.r2_score(y_test,y_pred1)
score2 = metrics.r2_score(y_test,y_pred2)
score3 = metrics.r2_score(y_test,y_pred3)
score4 = metrics.r2_score(y_test,y_pred4)

In [148]:
print(score1,score2,score3,score4)

0.8596555547620459 0.9399978344524782 0.9616587981468087 0.9421151465891721

In [149]:
final_data = pd.DataFrame({'Models':['LR','RF','GBR','XG'],
             "R2_SCORE":[score1,score2,score3,score4]})

In [150]:
final_data

  Models  R2_SCORE
0     LR  0.859656
1     RF  0.939998
2    GBR  0.961659
3     XG  0.942115

In [151]:
lr = LinearRegression()
model_lr = lr.fit(X, y)

rf = RandomForestRegressor()
model_rf = rf.fit(X, y)

gbr = GradientBoostingRegressor()
model_gbr = gbr.fit(X, y)

xgb = XGBRegressor()
model_xgb = xgb.fit(X, y)

In [152]:
import numpy as np
import math

In [174]:
def round_to_multiple(number, multiple):
    towards = multiple * ((number + multiple - 1) // multiple)
    downwards = multiple * (number // multiple)

    if abs(number - towards) < abs(number - downwards):
        return towards
    else:
        return downwards

In [177]:
data_new = pd.DataFrame({
    'Grade': 1,
    'Catching Method': 3,
    'Sustainability':1,
    'Actual Price': 30000
}, index=[0])

def predict_price(data, model):
    prediction = model.predict(data)
    return prediction

price1 = predict_price(data_new, model_lr)
price2 = predict_price(data_new, model_rf)
price3 = predict_price(data_new, model_gbr)
price4 = predict_price(data_new, model_xgb)

price1 = int(price1[0])
price2 = int(price2[0])
price3 = int(price3[0])
price4 = int(price4[0])

avg_price = round_to_multiple((price2 + price3 + price4)/3, 1000)
print(avg_price)
print(price1, price2, price3, price4)

36000.0
44049 35820 36921 36017