In [56]:
import warnings
warnings.filterwarnings('ignore')
import pandas as pd
import joblib
from tkinter import *
from sklearn import metrics
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression
from xgboost import XGBRegressor

In [57]:
data = pd.read_csv('dataset/fish_data.csv')

## 1. Display Top 5 Rows of The Dataset

In [58]:
data.head()

,Fish Species,Price,Grade,Catching Method,Sustainability,Actual Price
0,Bawal Hitam,36000,B,Farmed,Moderately sustainable,30000
1,Bawal Putih,72000,B,Farmed,Moderately sustainable,60000
2,Cakalang,30000,B,Farmed,Moderately sustainable,25000
3,Kakap Merah,66000,B,Farmed,Moderately sustainable,55000
4,Kembung,30000,B,Farmed,Moderately sustainable,25000

## 2. Find Shape Fish Dataset (Number of Rows And Number of Columns)

In [59]:
data.shape

(1000, 6)

## 3. Check Null Values In The Dataset

In [60]:
data.isnull().sum()

Fish Species       0
Price              0
Grade              0
Catching Method    0
Sustainability     0
Actual Price       0
dtype: int64

In [61]:
data.describe()

               Price   Actual Price
count    1000.000000    1000.000000
mean    35555.479000   47964.664000
std     36934.953043   42335.285309
min        63.000000      63.000000
25%     14477.500000   25000.000000
50%     27968.500000   41543.500000
75%     45612.750000   60047.500000
max    403200.000000  280000.000000

In [62]:
sorted(data['Price'],reverse=False)

[63,
 118,
 139,
 229,
 242,
 343,
 498,
 585,
 618,
 707,
 744,
 780,
 808,
 854,
 1360,
 1366,
 1380,
 1411,
 1426,
 1576,
 1660,
 1683,
 1692,
 1732,
 1762,
 1831,
 1905,
 1921,
 1974,
 2231,
 2309,
 2384,
 2456,
 2632,
 2655,
 2659,
 2662,
 2712,
 2762,
 2979,
 3055,
 3217,
 3287,
 3340,
 3405,
 3492,
 3560,
 3626,
 3644,
 3645,
 3687,
 3761,
 3829,
 3860,
 3931,
 3941,
 3950,
 3983,
 4030,
 4150,
 4419,
 4439,
 4487,
 4581,
 4652,
 4724,
 4816,
 5124,
 5276,
 5371,
 5389,
 5470,
 5480,
 5496,
 5566,
 5596,
 5637,
 5662,
 5715,
 5743,
 5755,
 5760,
 5776,
 5853,
 5867,
 5935,
 5964,
 5990,
 6000,
 6000,
 6037,
 6136,
 6172,
 6198,
 6251,
 6264,
 6337,
 6339,
 6374,
 6404,
 6478,
 6509,
 6687,
 6713,
 6790,
 6849,
 6958,
 6995,
 7091,
 7200,
 7200,
 7212,
 7276,
 7358,
 7393,
 7500,
 7500,
 7638,
 7674,
 7684,
 7725,
 7761,
 7837,
 7879,
 8000,
 8000,
 8119,
 8243,
 8345,
 8406,
 8410,
 8464,
 8516,
 8621,
 8671,
 8711,
 8730,
 8832,
 8842,
 8863,
 8952,
 9000,
 9000,
 9027,
 9043,
 9120,
 9194,
 9235,
 9328,
 9600,
 9600,
 9608,
 9657,
 9764,
 9810,
 9831,
 9832,
 9857,
 9945,
 10000,
 10000,
 10000,
 10000,
 10080,
 10156,
 10383,
 10513,
 10734,
 10890,
 10987,
 11050,
 11098,
 11145,
 11184,
 11220,
 11289,
 11400,
 11466,
 11618,
 11631,
 11663,
 11700,
 11880,
 12000,
 12000,
 12000,
 12000,
 12000,
 12000,
 12000,
 12000,
 12028,
 12114,
 12160,
 12172,
 12244,
 12276,
 12282,
 12297,
 12307,
 12348,
 12353,
 12471,
 12500,
 12500,
 12578,
 12624,
 12648,
 12705,
 12708,
 12738,
 12795,
 12815,
 12845,
 12866,
 13043,
 13044,
 13106,
 13200,
 13221,
 13240,
 13258,
 13314,
 13349,
 13417,
 13549,
 13577,
 13742,
 13765,
 13768,
 13831,
 13862,
 13983,
 14016,
 14042,
 14118,
 14177,
 14216,
 14331,
 14397,
 14400,
 14400,
 14400,
 14400,
 14400,
 14400,
 14400,
 14400,
 14416,
 14449,
 14487,
 14584,
 14784,
 14786,
 14787,
 14938,
 14946,
 15000,
 15000,
 15000,
 15000,
 15000,
 15000,
 15069,
 15156,
 15200,
 15200,
 15297,
 15308,
 15419,
 15453,
 15499,
 15567,
 15617,
 15920,
 15928,
 16000,
 16000,
 16010,
 16063,
 16132,
 16304,
 16361,
 16372,
 16404,
 16491,
 16500,
 16635,
 16692,
 16749,
 16800,
 16837,
 16941,
 16994,
 16996,
 17016,
 17086,
 17124,
 17180,
 17258,
 17280,
 17280,
 17363,
 17386,
 17543,
 17587,
 17600,
 17778,
 17801,
 17808,
 17826,
 17880,
 17887,
 17912,
 17931,
 17979,
 18000,
 18000,
 18000,
 18000,
 18000,
 18000,
 18000,
 18000,
 18031,
 18158,
 18214,
 18240,
 18240,
 18365,
 18381,
 18613,
 18625,
 18680,
 18845,
 18911,
 18996,
 19000,
 19200,
 19200,
 19200,
 19200,
 19200,
 19200,
 19200,
 19210,
 19214,
 19275,
 19296,
 19362,
 19403,
 19415,
 19463,
 19743,
 19787,
 19822,
 19894,
 19944,
 20000,
 20000,
 20000,
 20000,
 20000,
 20014,
 20101,
 20268,
 20282,
 20309,
 20412,
 20436,
 20457,
 20533,
 20569,
 20636,
 20659,
 20678,
 20778,
 20924,
 20966,
 20977,
 21000,
 21046,
 21187,
 21322,
 21508,
 21527,
 21595,
 21600,
 21600,
 21600,
 21613,
 21640,
 21773,
 21888,
 21992,
 22000,
 22000,
 22008,
 22032,
 22034,
 22400,
 22522,
 22594,
 22800,
 22800,
 22826,
 22875,
 23006,
 23010,
 23029,
 23040,
 23040,
 23044,
 23119,
 23153,
 23219,
 23258,
 23368,
 23462,
 23508,
 23712,
 23770,
 23827,
 23942,
 24000,
 24000,
 24000,
 24000,
 24000,
 24000,
 24000,
 24000,
 24000,
 24000,
 24000,
 24000,
 24000,
 24000,
 24000,
 24105,
 24294,
 24320,
 24377,
 24416,
 24476,
 24512,
 24571,
 24622,
 24623,
 24660,
 24678,
 24876,
 24880,
 24947,
 24994,
 25000,
 25000,
 25092,
 25146,
 25281,
 25389,
 25566,
 25583,
 25600,
 25668,
 25728,
 25779,
 25818,
 26107,
 26220,
 26226,
 26272,
 26306,
 26400,
 26400,
 26437,
 26453,
 26481,
 26508,
 26653,
 26700,
 26746,
 26772,
 26781,
 26805,
 26895,
 26943,
 27119,
 27316,
 27360,
 27366,
 27379,
 27464,
 27495,
 27500,
 27500,
 27783,
 27930,
 27938,
 27967,
 27970,
 27978,
 27992,
 28000,
 28000,
 28219,
 28271,
 28291,
 28313,
 28317,
 28350,
 28430,
 28467,
 28532,
 28800,
 28800,
 28800,
 28800,
 28800,
 28800,
 28800,
 28800,
 28800,
 28800,
 28800,
 28800,
 28893,
 29045,
 29062,
 29067,
 29112,
 29184,
 29196,
 29245,
 29272,
 29355,
 29363,
 29394,
 29448,
 29601,
 29617,
 29652,
 29692,
 29935,
 30000,
 30000,
 30000,
 30000,
 30000,
 30000,
 30000,
 30000,
 30037,
 30167,
 30180,
 30221,
 30234,
 30306,
 30400,
 30400,
 30403,
 30420,
 30611,
 30691,
 30852,
 30854,
 30899,
 30915,
 30919,
 30929,
 30980,
 31024,
 31039,
 31090,
 31271,
 31311,
 31344,
 31457,
 31472,
 31680,
 31696,
 31732,
 31797,
 31837,
 31962,
 32000,
 32000,
 32103,
 32306,
 32430,
 32548,
 32735,
 32772,
 32906,
 32967,
 32968,
 33000,
 33000,
 33048,
 33114,
 33173,
 33312,
 33492,
 33519,
 33600,
 33600,
 33822,
 33840,
 34054,
 34073,
 34146,
 34259,
 34427,
 34427,
 34432,
 34441,
 34560,
 34560,
 34560,
 34560,
 34603,
 34659,
 34696,
 34803,
 34837,
 35000,
 35034,
 35115,
 35196,
 35200,
 35204,
 35361,
 35461,
 35519,
 35690,
 35752,
 35832,
 36000,
 36000,
 36000,
 36000,
 36000,
 36000,
 36000,
 36000,
 36000,
 36000,
 36058,
 36101,
 36272,
 36480,
 36480,
 36480,
 36566,
 36686,
 36819,
 36832,
 36937,
 36952,
 37268,
 37285,
 37351,
 37628,
 37628,
 37655,
 37754,
 37782,
 38000,
 38241,
 38385,
 38400,
 38400,
 38400,
 38400,
 38441,
 38446,
 38572,
 38624,
 38658,
 38727,
 38844,
 38854,
 38871,
 39171,
 39516,
 39600,
 39639,
 39660,
 39788,
 39934,
 40000,
 40250,
 40320,
 40530,
 40669,
 40749,
 40831,
 40912,
 40923,
 41001,
 41121,
 41142,
 41144,
 41245,
 41356,
 41454,
 41478,
 41533,
 41899,
 42000,
 42000,
 42199,
 42240,
 42381,
 42611,
 42615,
 42657,
 42744,
 42802,
 42820,
 43200,
 43200,
 43200,
 43200,
 43244,
 43338,
 43360,
 43375,
 43537,
 43715,
 43762,
 43776,
 43924,
 43972,
 44000,
 44000,
 44161,
 44196,
 44596,
 44680,
 44800,
 44983,
 45108,
 45152,
 45224,
 45346,
 45452,
 45548,
 45600,
 45600,
 45651,
 45699,
 45792,
 45819,
 45894,
 45939,
 46080,
 46080,
 46080,
 46456,
 46734,
 46826,
 46852,
 47118,
 47211,
 47265,
 47293,
 47335,
 47361,
 47387,
 47469,
 47699,
 47788,
 47820,
 48000,
 48000,
 48000,
 48000,
 48000,
 48000,
 48041,
 48255,
 48260,
 48580,
 48989,
 49011,
 49153,
 50061,
 50400,
 50422,
 50503,
 50617,
 50776,
 51200,
 51774,
 51927,
 52310,
 52345,
 52381,
 52392,
 52431,
 52632,
 52800,
 52800,
 52800,
 53206,
 53500,
 53686,
 53760,
 53761,
 54256,
 54416,
 54606,
 54720,
 54965,
 55000,
 55685,
 55774,
 56000,
 56000,
 56040,
 56230,
 56240,
 56709,
 56927,
 57123,
 57427,
 57600,
 57600,
 57600,
 57600,
 57600,
 57600,
 57600,
 57610,
 57672,
 57691,
 57840,
 57867,
 57873,
 58126,
 58175,
 58314,
 58996,
 59133,
 59420,
 59441,
 59556,
 59725,
 59928,
 60000,
 60000,
 60011,
 60629,
 60749,
 60884,
 60937,
 61042,
 61359,
 61416,
 61440,
 62213,
 62448,
 62537,
 62659,
 62777,
 62899,
 63032,
 63264,
 63360,
 63439,
 63702,
 64000,
 64000,
 64276,
 64373,
 64575,
 64882,
 65298,
 65546,
 65774,
 65960,
 66000,
 66000,
 66278,
 66639,
 66702,
 66816,
 66936,
 67200,
 67200,
 67200,
 67200,
 67431,
 67694,
 67795,
 68088,
 68111,
 68187,
 68544,
 68628,
 68685,
 68909,
 69120,
 69120,
 69140,
 69180,
 69240,
 69333,
 69911,
 69968,
 70000,
 70032,
 70683,
 70885,
 71040,
 71672,
 71802,
 72000,
 72000,
 72000,
 72000,
 72187,
 72452,
 72695,
 72825,
 72894,
 73314,
 73893,
 73922,
 74087,
 74751,
 75138,
 75331,
 75468,
 75516,
 75739,
 76316,
 76537,
 76800,
 76800,
 76800,
 77922,
 78826,
 79200,
 79521,
 79644,
 79778,
 79917,
 79936,
 80000,
 80083,
 80640,
 82535,
 83680,
 84000,
 84000,
 84000,
 84574,
 85281,
 86400,
 86400,
 86795,
 86896,
 87465,
 89538,
 89600,
 92160,
 95466,
 96000,
 96000,
 98176,
 100539,
 100667,
 100800,
 101694,
 109906,
 112000,
 112000,
 113330,
 115200,
 134400,
 134400,
 140000,
 161280,
 168000,
 168000,
 179200,
 201600,
 215040,
 224000,
 224000,
 268800,
 268800,
 268800,
 280000,
 322560,
 336000,
 336000,
 403200]

## 4. Encoding the Categorical Columns

In [63]:
data['Grade'].unique()
data['Grade'] = data['Grade'].map({'C':0,'B':1,'A':2})

In [64]:
data['Sustainability'].unique()
data['Sustainability'] =data['Sustainability'].map({'Moderately sustainable':1,'Unsustainable':0})

In [65]:
data['Catching Method'].unique()
data['Catching Method'] = data['Catching Method'].map({'Farmed':3,'Netting':2, 'Spearfishing':0, 'Fishing Hook':1})

## 5. Transform the 'Actual Price' and 'Price' columns in the data DataFrame using MinMaxScaler

In [66]:
data.head()

  Fish Species  Price  Grade  Catching Method  Sustainability  Actual Price
0  Bawal Hitam  36000      1                3               1         30000
1  Bawal Putih  72000      1                3               1         60000
2     Cakalang  30000      1                3               1         25000
3  Kakap Merah  66000      1                3               1         55000
4      Kembung  30000      1                3               1         25000

In [67]:
data

    Fish Species  Price  Grade  Catching Method  Sustainability  Actual Price
0    Bawal Hitam  36000      1                3               1         30000
1    Bawal Putih  72000      1                3               1         60000
2       Cakalang  30000      1                3               1         25000
3    Kakap Merah  66000      1                3               1         55000
4        Kembung  30000      1                3               1         25000
..           ...    ...    ...              ...             ...           ...
995       Kerapu   5867      1                0               0         12223
996         Kuwe   6958      1                0               0         14497
997      Makerel   5755      1                0               0         11990
998       Salmon  14487      1                0               0         30182
999     Tenggiri  14331      1                0               0         29858

[1000 rows x 6 columns]

## 6. Store Feature Matrix In X and Response(Target) In Vector y

In [68]:
X = data.drop(['Fish Species','Price'],axis=1)
y = data['Price']
print(X.head())
print(y.head())

   Grade  Catching Method  Sustainability  Actual Price
0      1                3               1         30000
1      1                3               1         60000
2      1                3               1         25000
3      1                3               1         55000
4      1                3               1         25000
0    36000
1    72000
2    30000
3    66000
4    30000
Name: Price, dtype: int64

## 7. Train, Test, Split

In [69]:
X_train,X_test,y_train,y_test=train_test_split(X,y,test_size=0.2,random_state=42)

## 8. Regressor Test

In [70]:
from sklearn.linear_model import LinearRegression
from sklearn.ensemble import RandomForestRegressor
from sklearn.ensemble import GradientBoostingRegressor
from xgboost import XGBRegressor

In [71]:
lr = LinearRegression()
lr.fit(X_train,y_train)

rf = RandomForestRegressor()
rf.fit(X_train,y_train)

xgb = GradientBoostingRegressor()
xgb.fit(X_train,y_train)

xg = XGBRegressor()
xg.fit(X_train,y_train)

XGBRegressor(base_score=None, booster=None, callbacks=None,
             colsample_bylevel=None, colsample_bynode=None,
             colsample_bytree=None, device=None, early_stopping_rounds=None,
             enable_categorical=False, eval_metric=None, feature_types=None,
             gamma=None, grow_policy=None, importance_type=None,
             interaction_constraints=None, learning_rate=None, max_bin=None,
             max_cat_threshold=None, max_cat_to_onehot=None,
             max_delta_step=None, max_depth=None, max_leaves=None,
             min_child_weight=None, missing=nan, monotone_constraints=None,
             multi_strategy=None, n_estimators=None, n_jobs=None,
             num_parallel_tree=None, random_state=None, ...)

In [72]:
y_pred1 = lr.predict(X_test)
y_pred2 = rf.predict(X_test)
y_pred3 = xgb.predict(X_test)
y_pred4 = xg.predict(X_test)

In [73]:
from sklearn import metrics

In [74]:
score1 = metrics.r2_score(y_test,y_pred1)
score2 = metrics.r2_score(y_test,y_pred2)
score3 = metrics.r2_score(y_test,y_pred3)
score4 = metrics.r2_score(y_test,y_pred4)

In [75]:
print(score1,score2,score3,score4)

0.7813673127300855 0.9872091665213418 0.9872338768537832 0.9965644031195666

In [76]:
final_data = pd.DataFrame({'Models':['LR','RF','GBR','XG'],
             "R2_SCORE":[score1,score2,score3,score4]})

In [77]:
final_data

  Models  R2_SCORE
0     LR  0.781367
1     RF  0.987209
2    GBR  0.987234
3     XG  0.996564

In [78]:
lr = LinearRegression()
model_lr = lr.fit(X, y)

rf = RandomForestRegressor()
model_rf = rf.fit(X, y)

gbr = GradientBoostingRegressor()
model_gbr = gbr.fit(X, y)

xgb = XGBRegressor()
model_xgb = xgb.fit(X, y)

In [79]:
import numpy as np
import math

In [80]:
def round_to_multiple(number, multiple):
    towards = multiple * ((number + multiple - 1) // multiple)
    downwards = multiple * (number // multiple)

    if abs(number - towards) < abs(number - downwards):
        return towards
    else:
        return downwards

In [81]:
def predict_price(data, model):
    prediction = model.predict(data)
    return prediction

In [95]:
# joblib.dump(model_xgb,'pricepredictor.h5')

['pricepredictor.h5']

In [96]:
# model = joblib.load('pricepredictor.h5')

In [97]:
# model.predict(data_new)

array([43046.094], dtype=float32)

In [93]:
data_new = pd.DataFrame({
    'Grade': 2,
    'Catching Method': 3,
    'Sustainability':1,
    'Actual Price': 30000
}, index=[0])

price1 = predict_price(data_new, model_lr)
price2 = predict_price(data_new, model_rf)
price3 = predict_price(data_new, model_gbr)
price4 = predict_price(data_new, model_xgb)

price1 = int(price1[0])
price2 = int(price2[0])
price3 = int(price3[0])
price4 = int(price4[0])

if data_new['Grade'].iloc[0] == 0 or data_new['Actual Price'].iloc[0] == 0:
    result_array = np.array([0])
    float_number = float(result_array[0])
    result_array = float_number
    avg_price = 0
    result_array = np.array([0], dtype=int)
else:
    avg_price = round_to_multiple((price2 + price3 + price4)/3, 1000)
    result_array = np.array([price1, price2, price3, price4], dtype=int)

print(avg_price)
print(result_array)

42000.0
[51546 42716 39883 43046]

AttributeError: 'XGBRegressor' object has no attribute 'save'